/* color de fondo para el body */
.color-hint {
  /* background: linear-gradient(rgb(233, 233, 241), 10%, rgb(95, 97, 104)); */
  background-color: rgb(233, 233, 241);
}

/* Estilos para el botón de carrito ubicado a la esquina inferior derecha */
.linkCarrito{
  position: fixed;
  z-index: 2;
  right: 30px;
  bottom: 30px;
  width: 3rem;
  height: 3rem;
  padding-top: 3px;
  text-align: center;
  background: 
  linear-gradient(rgba(222, 224, 228, 0.897),rgba(207, 210, 218, 0.836)),
  url(https://cdn-icons-png.flaticon.com/128/523/523686.png) center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  border : 0.5px solid black;
  box-shadow: 3px 2px rgba(0, 0, 0, 0.226);
}

.linkCarrito:hover{
  box-shadow: 0px 0px rgba(0, 0, 0, 0.226);  
}

.linkCarrito a{
  color: rgb(60, 60, 60);
  font-size: 1.8rem;
}

.linkCarrito a:hover{
  color: rgb(17, 17, 17);
}

/* Estilos para el navbar */
nav .icono {
  width: 27px;
  height: 27px;
}

.navbar {
  transition: all 0.5s ease-in-out;
  opacity: 0.92;
}

/* efecto hover sobre los elementos link del navegador */
.nav-link:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

/* Estilos para las imágenes del carrusel*/
.imagencarrusel {
  padding: 20px 0%;
  aspect-ratio: 3 / 1;
  border-radius: 3rem;
  padding: 0.7rem;
}

/* Estilos para las tarjetas de los productos */
.card-img-top {
  aspect-ratio: 1/1;
}

/* Estilos para la tabla de productos agregados al carrito */
.carrito .filaCarrito {
  position: relative;
  grid-template-columns: 2fr repeat(3, 1fr);
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #21252959;
}


.filaCarrito .item-filaCarrito {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.filaCarrito .item-eliminar-filaCarrito{
  position: absolute;
  top: 0;
  right: 0;
}

/* Se crea esta clase para poder modificarla con una mediaQuery */
.display-grid{
  display: grid;
}

.imagenProducto div{
    display: flex;
    width: 50%;
    padding-right: 20px;
    justify-content: end;
}

.imagenProducto h5{
    width: 50%;
    text-align: start;
}

.carrito img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }


/* Se oculta el titulo del producto ya que existe un nombre de imagen
que contiene el titulo, esto con el fin de poder establecer un orden mas adecuado 
para pantallas mas pequeñas */
.filaCarrito .tituloProducto {
  display: none;
}

input:disabled{
    background-color: white;
}

.cantidadCarrito i, .cantidadCarrito input {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.cantidadCarrito input {
  width: 50px;
  text-align: center;
}

.cantidadCarrito button:focus{
    background-color: rgb(182, 182, 189);
}


/* Estilos del contenido del footer */
.footer {
  background-color: rgb(229, 227, 227);
}

.text-justify {
  text-align: justify;
}
.iconos a {
  text-decoration: none;
}

footer i {
  color: black;
}

.boton-carrito {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(167, 167, 230);
  text-align: center;
  vertical-align: center;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .navbar {
    background-color: var(--bs-light);
  }

  .nav-link:hover {
    transform: translateX(5%) scale(1);
  }
}

@media (max-width: 768px) {
  .display-grid,
  .imagenProducto .nombreImagenProducto,
  .filaCarrito .precioProducto {
    display: none;
  }

  .filaCarrito .tituloProducto {
    display: flex;
  }

  .carrito .filaCarrito {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .filaCarrito .imagenProducto {
    grid-row: 1 / 4;
  }

  .carrito img {
    width: 200px;
    height: 200px;
  }

  .imagenProducto div{
    width: 100%;
    padding-right: 0;
    justify-content: center;

  }
}

@media (max-width: 576px) {
  .imagencarrusel {
    aspect-ratio: 1 / 1;
  }
  .carrito img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 300px) {
   
    .carrito img {
      width: 100px;
      height: 120px;
    }

    .carrito .filaCarrito {
        grid-template-columns: 1fr 3fr;
      }

  }




