/* Estilos Charline */


.container img {
    width: 270px;
    height: 290px;
}


/* Estilos Rafa */
*{
    padding: 0px;
    margin: 0px;

}
header{
    min-height: 10vh;
}
main{
    min-height: 80vh;
}
footer{
    min-height: 10vh;
}

/* Estilos John */