.color-hint {
  /* background: linear-gradient(rgb(233, 233, 241), 10%, rgb(95, 97, 104)); */
    background-color: rgb(233, 233, 241);
}

nav .icono{
    width: 27px;
    height: 27px;
}

.navbar{
    transition: all 0.5s ease-in-out;
    opacity: 0.92;
}


/* efecto hover sobre los elementos link del navegador */
.nav-link:hover {
    transform: scale(1.2); 
    transition: all 0.5s ease-in-out;
}

/* clase para adaptar las imágenes del carrusel y darle un poco mas de estilo */
.imagencarrusel {
    padding: 20px 0%;
    aspect-ratio: 3 / 1;  
    border-radius: 3rem;
    padding: 0.7rem; 
}

.card-img-top{
    aspect-ratio: 1/1;
}

.text-justify{
    text-align: justify;
}

.carrito .filaCarrito{
    display: grid;
    grid-template-columns: 2fr repeat(3,1fr);
    padding: 10px 0;
    border-bottom: 1px solid #21252959;
}

.filaCarrito div{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.filaCarrito .tituloProducto{
    display: none;
}

.carrito img{
    width: 100px;
    height: 100px;
}

.cantidadCarrito i{
    font-size: 1.5rem;
}

.cantidadCarrito input{
    width: 50px;
    text-align: center;
}

.iconos a{
    text-decoration: none;
}

i{
    color: black;
}

.footer{
    background-color: rgb(229, 227, 227);
}



.boton-carrito {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(167, 167, 230);
  text-align: center;
  vertical-align: center;
}


@media(max-width:992px){

    html {
        font-size: 14px; 
    }

    .navbar{
        background-color: var(--bs-light);
    }

    .nav-link:hover {
        transform: translateX(5%) scale(1); 
    }

    
}

@media(max-width: 768px ){

    #tituloTablaCarrito,
    .imagenProducto .nombreImagenProducto,
    .filaCarrito .precioProducto{
        display: none ; 
    }

   

    .filaCarrito .tituloProducto{
        display: flex;
    }

    
    .carrito .filaCarrito{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,1fr);
    }

    .filaCarrito .imagenProducto{
        grid-row: 1 / 4;
    }
    
    .carrito img{
        width: 200px;
        height: 200px;
    }
    
    

}

@media(max-width:576px){
    .imagencarrusel{
        aspect-ratio: 1 / 1;  
    }
}